.dashboardabout-section {
  padding: 0px 0px 20px 20px !important;
  text-align: center;
}

.dashboardabout-card {
  border-radius: 16px !important;
  background: #ffffff !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 190px;
}

.dashboardabout-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(74, 175, 125, 0.25);
}
